<div class="container mt-4 mb-4 p-4">
  <h1 class= "ms-3"><%= @bedroom.description %></h1>
  <h1 class= "ms-3"><%= @bedroom.price %></h1>
  </div>

  <%= link_to 'VOLTAR', bedrooms_path(@bedroom), class: "btn btn-secondary ms-3" %>
</div>